-# coding: UTF-8
%h4 #{t 'add_source'}
%form(action="/add_source" method="post")
  %fieldset
    %ul
      %li
        %label(for="source") #{t 'source'}:
        %input#source(type="text" name="source")
      %li
        %label(for="name") #{t 'product'}:
        %select{id: 'name', name: 'name'}
          -if @products.empty?
            %option #{t 'no_product'}
          - else
            - @products.each do |p|
              %option= p.name
      %li
        %label(for="price") #{t 'price'}:
        %input#price{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "price"}
      %li
        %input(type="submit" value="#{t 'submit'}") #{t 'or' } <a href="/panel">#{t 'cancel'}</a>
