%h4 #{t 'add_product'}
%form(action="/add_product" method="post" enctype="multipart/form-data")
  %fieldset
    %ul
      %li
        %label(for="vat_category") #{t 'vat_category'}:
        %select{id: 'vat_category', name: 'vat_category'}
          - @vats.each do |entry|
            %option= entry
      %li
        %label(for="name") #{t 'product_name'}:
        %input#name(type="text" name="name")
      %li
        %label(for="tags") #{t 'tags'}:
        %input#tags(type="text" name="tags" value="default")
      %li
        %label(for="cost") #{t 'no_vat_cost'}:
        %input#cost{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "cost"}
      %li
        %label(for="price") #{t 'sell_price'}:
        %input#cost{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "price"}
      %li
        %label(for="comment") #{t 'notes'}:
        %input#comment(type="text" name="comment")
      %li
        %label(for="image") #{t 'image'}:
        %input#image(type="file" name="image")
      %li
        %input{type: 'hidden', name: 'squick', value: 'no'}
        %input{type: 'checkbox', name: 'squick', value: 'yes'} Skroutz it!
      %li
        %input(type="submit" value="#{t 'submit'}") #{t 'or'} <a href="/panel">#{t 'cancel'}</a>
