%h4 Διαχείριση προϊόντος
%form(action="/manage_product" method="post" enctype="multipart/form-data")
  %fieldset
    %legend Προσθήκη προϊόντος
    %ul
      %li
        %label(for="category") Κατηγορία:
        %select{id: 'category', name: 'category'}
          - %w{Καλλυντικά Συμπληρώματα Παραφάρμακα Βρεφικά}.each do |entry|
            %option= entry
      %li
        %label(for="name") Προϊόν:
        %input#name(type="text" name="name")
      %li
        %label(for="barcode") Barcode:
        %input#barcode(type="text" name="barcode")
      %li
        %label(for="description") Περιγραφή:
        %input#description(type="text" name="description")
      %li
        %label(for="cost") Κόστος:
        %input#cost{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "cost"}
      %li
        %label(for="comment") Σχόλια (εκπτώσεις, κλπ.):
        %input#comment(type="text" name="comment")
      %li
        %label(for="image") Εικόνα:
        %input#description(type="file" name="image")
      %li
        %input(type="submit" value="Προσθήκη") ή <a href="/panel">Ακύρωσε</a>


- if @products.empty? == false
  %table{align: 'center'}
    %thead
      %tr
        - %w{Προϊόν Κατηγορία Περιγραφή Barcode Κόστος Σχόλια Δημιουργεία}.each do |entry|
          %th= entry
    %tbody
      - @products.each do |p|
        %tr
          %td= p[:name]
          %td= p[:category]
          %td= p[:description]
          %td= p[:barcode]
          %td= MyHelpers.cents_to_euro(p[:cost])
          %td= p[:notes]
          %td= p[:created_at]
          %td
            %a{href: "/view_product/:#{p.id}"} Προβολή
            |
            %a{href: "/delete_product/:#{p.id}"} Διαγραφή
- else
  %p{align: 'center'}
    <strong>Δεν υπάρχουν καταχωρημένα προϊόντα</strong>
