- if protected?
  %ul#menu-bar
    %li
      %a{href: "/panel"} #{t 'panel'}
    %li
      %a{href: "/add_product"} #{t 'add_product'}
    %li
      %a{href: "/add_source"} #{t 'add_source'}
    %li
      %a{href: "/settings"} #{t 'settings'}
    %li
      %a{href: "/plugins"} #{t 'plugins'}
    %li
      %a{href: "/logout"} #{t 'logout'}
      
