%h3 Πίνακας Ελέγχου
- if @products
  %table{align: 'right'} 
    %tbody
      %tr
        %th.style1{colspan: "3"} Σύνολα
      %tr
        %th.style1 Καταχ. Προϊόντα
        %th.style1 μ.ο. Markup 
        %th.style1 μ.ο. Margin 
      %tr
        %td.style1= @products.length
        %td.style1= @avg_markup
        %td.style1= @avg_margin

  %table{align: 'left'}
    %legend Κατάσταση προϊόντων
    %tbody
      %tr
        - %w{Α/Α Προϊόν Κατηγορία Barcode Τιμή Καταχώρηση}.each do |entry|
          %th.style1= entry
      - @products.each do |p|
        %tr
          %td.style1= p[:id]
          %td.style1= p[:name]
          %td.style1= p[:category]
          %td.style1= p[:barcode]
          -# This call is based on the convention that the first item in the Source array
          -# is our store's price. It works but could fail if we delete our source
          %td.style1= MyHelpers.cents_to_euro p.source[0][:price]
          %td.style1= p[:created_at].strftime("%m/%d/%Y")
          %td.style1-simple
            %a{href: "/view_product/:#{p.id}"} Προβολή
            |
            %a{href: "/delete_product/:#{p.id}"} Διαγραφή

  %br{:style => "clear:both"}/
- else
  %p Δεν υπάρχει κανένα προϊόν
