%h3 #{t 'controlpanel'}
- unless @products.empty?
  %p.small_blue{style: "text-align: left"}
    * #{t 'price_diff_expl'}

  %br

  %table{align: 'right'} 
    %tbody
      %tr
        %th.style1{colspan: "3"} #{t 'averagevalues'}
      %tr
        %th.style1 #{t 'products'}
        %th.style1 #{t 'markup'} 
        %th.style1 #{t 'margin'} 
      %tr
        %td.style1= @products.length
        %td.style1= @avg_markup
        %td.style1= @avg_margin


  %table{align: 'left'}
    %tbody
      %tr
        - %w{serialnumber product tags entrydate price_diff percent_diff}.each do |entry|
          %th.style1 #{ t "#{entry}"}
      - @products.each do |p|
        %tr
          - tags = []; p.tags.each {|x| tags << x[:name]}
          %td.style1= p[:id]
          %td.style1= p[:name]
          %td.style1 
            - tags.map do |tag| 
              %a{href: "/tags/:#{tag}"} #{tag}
          %td.style1= p[:created_at].strftime("%m/%d/%Y")
          - h = MyHelpers.price_diff(p[:id], @user.setting.storename)
          - if h.is_a?(Hash)
            %td.style1= "#{h[:diff_price]} #{@user.setting.currency}"
            %td.style1= "#{h[:diff_percentage].round(2)} %"
          - else
            %td.style1= "-"
            %td.style1= "-"
          %td.style1-simple
            %a{href: "/view_product/:#{p.id}"} #{ t 'show'}
            |
            %a{href: "/delete_product/:#{p.id}"} #{ t 'delete'}

  %br{:style => "clear:both"}/
- else
  %p #{t 'noproducts'}
