%h3 #{t 'settings'}


%form(action="/settings" method="post")
  %fieldset
    %legend  #{t 'user_data'}
    %ul
      %li
        %label(for="country") #{t 'country'} (#{ t 'current'}: #{@country}) :
        %select{id: 'country', name: 'country'}
          - @countries.each do |entry|
            %option= entry
      %li
        %label(for="realname") #{t 'user_name'}:
        %input#name(type="text" name="realname" value="#{@realname}")
      %li
        %label(for="realname") #{t 'currency'}:
        %input#name(type="text" name="currency" value="#{@currency}")
      %li
        %label(for="email") #{t 'email'}:
        %input#name(type="text" name="email" value="#{@email}")
      %li
        %label(for="storename") #{t 'storename'}:
        %input#name(type="text" name="storename" value="#{@storename}")
      %li
        %input(type="submit" value="#{t 'submit'}") #{t 'or'} <a href="/panel">#{t 'cancel'}</a>

