%h4 Ενημέρωση προϊόντος 
%form(action="/update_product" method="post" enctype="multipart/form-data")
  %fieldset
    %legend Ενημέρωση προϊόντος
    %p
      Για να κάνετε οποιαδήποτε αλλαγή, απλά πληκτρολογήστε την νέα τιμή στο κατάλληλο πεδίο και πατήστε «καταχώρηση».
    %ul
      %li
        %label(for="vat_category") Κατηφορία ΦΠΑ:
        %select{id: 'vat_category', name: 'vat_category'}
          - %w{23 13}.each do |entry|
            %option= entry
      %li
        %label(for="name") Προϊόν:
        %input#name(type="text" name="name" value="#{@product.name}")
      %li
        %label(for="tags") Ετικέτες:
        %input#barcode(type="text" name="tags" value="#{@tags.join(', ')}")
      %li
        %label(for="barcode") Barcode:
        %input#barcode(type="text" name="barcode" value="#{@product.barcode}")
      %li
        %label(for="cost") Αγορά (Χωρίς Φ.Π.Α.):
        %input#cost{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "cost", value: "#{@cost.to_f}"}
      %li
        %label(for="price") Τιμή Πώλησης (Χωρίς Φ.Π.Α.):
        %input#cost{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "price", value: "#{@price.to_f}"}
      %li
        %label(for="comment") Σχόλια (εκπτώσεις, κλπ.):
        %input#comment(type="text" name="comment" value="#{@product.notes}")
      %li
        %label(for="image") Εικόνα:
        %input#image(type="file" name="image")
        %input#name(type="hidden" name="id" value="#{@id}")
      %li
        %input(type="submit" value="Καταχώρηση") ή <a href="/panel">Ακύρωσε</a>
