-# coding: UTF-8
%h4 Προσθήκη νέας τιμής για πηγή "#{@source}"
%form(action="/update_source_np" method="post")
  %fieldset
    %legend #{@name}
    %ul
      %li
        %label(for="price") Νέα Τιμή (EUR):
        %input#price{type: "number", min: "0", max: "999999", step: "0.01", size: "6", name: "price", value: "#{@price.to_f}"}
        %input#pid(type="hidden" name="pid" value="#{@pid}")
        %input#source(type="hidden" name="source" value="#{@source}")
      %li
        %input(type="submit" value="Καταχώριση") ή <a href="/panel">Ακύρωσε</a>
