%h4 Προβολή προϊόντος

%div#img
  - if @product.img_url
    %img{class: 'imgframe', src: "/images/#{@product.img_url}"}
  - else
    %img{class: 'imgframe', src: "/images/default.jpg"}
%table#hor-minimalist-a
  %tr
    %th Προϊόν: 
    %td #{@product.name}
  %tr
    %th Ημ. Καταχώρησης:
    %td #{@product.created_at.strftime("%d/%m/%Y")}
  %tr 
    %th Κατηγορία:
    %td #{@product.category}
  %tr
    %th Barcode:
    %td #{@product.barcode}
  %tr
    %th Κόστος:
    %td #{MyHelpers.cents_to_euro @product.cost}
  %tr
    %th Περιγραφή:
    %td #{@product.description}

%br
%h4 Τιμές
- unless @product.source.empty?
  %table
    %tr
      %th Πηγή
      - @product.source.each do |p|
        %td #{p.source}
    %tr
      %th Τιμή
      - @product.source.each do |p|
        %td #{MyHelpers.cents_to_euro(p.price.to_i)}
    %tr
      %th 
      - @product.source.each do |p|
        %td 
          %a{href: "/delete_source/:#{p.id}"} Διαγραφή
- else
  %p 
    %a{href: "/manage_sources"} Προσθήκη


