%h4 #{t 'product_view'}
%div.column1of4
  %div#img
    - if @product.img_url
      %img{class: 'imgframe', src: "/images/users/#{@user.id}/products/#{@product.img_url}"}
    - else
      %img{class: 'imgframe', src: "/images/default.jpg"}
%div.column2of4
  %table
    %legend #{t 'product_description'}
    %tr
      %th.style1 #{t 'product'}: 
      %td.style1 #{@product.name}
    %tr 
      %th.style1 #{t 'vat_category'}:
      %td.style1 #{@product.vat_category.to_s}%
    %tr
      %th.style1 #{t 'barcode'}:
      %td.style1 #{@product.barcode}
    %tr
      %th.style1 #{t 'entry_date'}:
      %td.style1 #{@product.created_at.strftime("%d/%m/%Y")}
    %tr
      %th.style1 #{t 'average_market_price'}
      %td.style1 #{@average_market_price}
%div.column3of4
  %table
    %legend #{t 'financial_data_per_pcs'}
    %tr
      %th.style1
      %th.style1 #{t 'without_vat'}
      %th.style1 #{t 'with_vat'}
    %tr
      %th.style1 #{t 'price'}:
      %td.number= @price_without_vat 
      %td.number= @price
    %tr
      %th.style1 #{t 'cost'}: 
      %td{colspan: '2', class: 'style1'} #{@cost}
    %tr
      %th.style1 #{t 'markup'}:
      %td{colspan: '2', class: 'style1'} #{@markup}
    %tr
      %th.style1 #{t 'margin'}:
      %td{colspan: '2', class: 'style1'} #{@margin}
%div.column4of4
  %p
    <strong>#{t 'notes'}:</strong> #{@product.notes}
  %p.small_blue{style: "text-align: left"}
    * #{t 'markup_expl'}
    %br
    * #{t 'margin_expl'}

%br{:style => "clear:both"}/

%p #{t 'tags'}: #{@tags.join(', ')}

%form{:action => "/update_product/:#{@product.id}"}
  %input{:type => "submit", :value => "#{t 'update'}"}/

- unless @latest_prices.empty?
  %h4 #{t 'list_prices'}
  %p.small_blue{style: "text-align: left"}
    * #{t 'last_update_date'}
  %table{align: 'left'}
    %tr
      %th.style1
      - @latest_prices.each do |p|
        %th.style1 #{p.name}
    %tr
      %th.style1 #{t 'price'}
      - @latest_prices.each do |p|
        %td.style1 
          #{MyHelpers.cents_to_euro p.price}
          %br
          %p.small_blue 
            #{p.created_at.strftime("%d/%m/%y")}
    %tr
      %td.style1
      - @latest_prices.each do |p|
        %td.style1-simple
          %p.small_bold_black
            %a{href: "/update_source_np/:#{p.id}"} #{t 'price_add'}
            %br
            %a{href: "/delete_source/:#{p.id}"} #{t 'delete'}
            |
            %a{href: "/update_source/:#{p.id}"} #{t 'edit'}
- else
  %p 
    %a{href: "/add_product"} #{t 'add'}
%div{:style => "clear: both;"}  

- unless @data.nil?
  %h4 #{t 'price_over_time'}
  %div.graph
    = line_chart @data.map {|name, values| {name: name, data: values}}, id: 'product_price_graph'

%div{:style => "clear: both;"}  
