%h4 Προβολή προϊόντος

%div.column1of2
  %div#img
    - if @product.img_url
      %img{class: 'imgframe', src: "/images/#{@product.img_url}"}
    - else
      %img{class: 'imgframe', src: "/images/default.jpg"}
  %table
    %legend Στοιχεία Προϊόντος
    %tr
      %th Προϊόν: 
      %td #{@product.name}
    %tr 
      %th Κατηγορία:
      %td #{@product.category}
    %tr 
      %th Κατηγορία ΦΠΑ:
      %td #{@product.vat_category.to_s}%
    %tr
      %th Barcode:
      %td #{@product.barcode}
    %tr
      %th Περιγραφή:
      %td #{@product.description}
    %tr
      %th Ημ. Καταχ.:
      %td #{@product.created_at.strftime("%d/%m/%Y")}
%div.column2of2
  %table
    %legend Οικονομικά Στοιχεία
    %tr
      %th Κόστος:
      %td.number #{@cost}
    %tr
      %th Τιμή (χωρίς ΦΠΑ):
      %td.number= @price 
    %tr
      %th Λιανική Τιμή:
      %td.number= @price_plus_vat
    %tr
      %th MarkUp:
      %td.number= @markup 
    %tr
      %th Margin:
      %td.number= @margin 

%br{:style => "clear:both"}/
%h4 Λιανικές Τιμές Πώλησης
- unless @product.source.empty?
  %table
    %tr
      %th Πηγή
      - @product.source.each do |p|
        %td #{p.source}
    %tr
      %th Τιμή
      - @product.source.each do |p|
        -# Υπολογίζουμε τιμή + ΦΠΑ π.χ.: 22,12 * 1,23 (για 23% ΦΠΑ)
        %td #{MyHelpers.cents_to_euro (p.price * ((@product.vat_category.to_f/100)+1))}
    %tr
      %th
      - @product.source.each do |p|
        %td 
          %a{href: "/delete_source/:#{p.id}"} Διαγραφή
- else
  %p 
    %a{href: "/manage_source"} Προσθήκη


